body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center; 
    background-color: #f4f4f9;
    background-image: url('fundo.png');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    display: flex;
}

.container, .cardsobremim, .cardskill{
    
    max-width: 800px;
    margin: auto; 
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}

h1, h2 {
    color: #1a73e8;
    margin-top: 0; 
}

.profile-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover; 
    display: block; 
    margin: 0 auto 20px auto; 
    filter: grayscale(100%); 
    transition: filter 0.5s ease; 
}

.profile-img:hover {
    filter: grayscale(0%); /* Passa o mouse */
}

.skills, .contato, .formacao {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

li {
    background-color: #e9f0fb;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 10px; 
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    li {
        font-size: 14px; 
    }
}
