body{

    font-family: arial, sans-serif;

}
.form-input{
    
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.password{
    width: 100%;
    position: relative;   
   
}

.password input{
    width: 100;

}

.password i{
    position:absolute;
    right: 40px;
    top: 2px;
}

